<div id="registuser">
  <h3 class="regititle">新規登録</h3>
  <div class="user-container new-registrations-container">
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"entry", id:"email"%>
        </div>
        <div class="field">
          <%= f.label :nickname %><br />
          <%= f.text_field :nickname, class:"entry", id:"nickname", maxlength:"20"%>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, class:"entry", id:"password"%>
          <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class:"entry", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
        </div>
        <div class="actions">
          <%= f.submit "アカウント登録", class: "entry-btn" %>
        </div>
    <% end %>
  </div>
</div>